<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WesCourse</title>

        <!-- Bootstrap 4 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        
        <!-- Semantic UI CSS -->
        <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
        

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Anton|Cormorant+Garamond|Indie+Flower|Merriweather|Ubuntu|Josefin+Sans" rel="stylesheet">     
        
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/specificCourse_test.css">

        
    </head>


    <body>
        <!-- NavBar -->
        <nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-inverse fixed-top">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div>
          <a class="navbar-brand" href="http://www.wesleyan.edu/">
                <p id="wes">Wesleyan</p>
                <p id="uni">University</p>
          </a>
          </div>

          <div class="collapse navbar-collapse" id="navbarContents">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/catalog">Catalog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <% if (!userLoggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                <% } else { %>
                    <li class="nav-item profile-button">
                        <a class="nav-link" href="/profile">
                          <div class="user-image">
                            <img class="user-image" src="<%= image %>"/>
                          </div>
                          <p><%= username %></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </li>
                <% } %>
                <% if (!userLoggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/createUser">Create Account</a>
                    </li>
                <% } %>
            </ul>

            
          </div>
        </nav>

        <!-- Header -->
        <div class="course-header">
            <h6 style="float: right;">Class Time: <%= courseInfo[0].class_date %></h6>
            <h6><%= courseInfo[0].course_acronym %></h6>
            <h6><%= courseInfo[0].course_name %></h6>
            <h6>Section: <%= courseInfo[0].section %></h6>
            <h6>Professor(s): <%= courseInfo[0].professors %><h6>
        </div>

        
        <div class="container">

        <!-- Overall & Recommend -->
        <% if (recommendNum) { %>
        <div class="overall-and-recommend d-flex justify-content-center container">
            <div class="d-inline-flex p-6 overall d-flex flex-column">
                <p class="title p-6">Overall Rating</p>
                <p class="p-6 d-flex justify-content-center overall-rating"><%= courseOverall %></p>
            </div> 
            
            <div class="recommend d-inline-flex p-6 d-flex flex-column">
                <p class="title p-6">Recommend?</p>
                <div class="up-and-down p-6 d-flex justify-content-center">
                    <p class="d-inline-flex p-6 up"><i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>: <%= recommendNum.yes %></p>
                    <p class="d-inline-flex p-6 down"><i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>: <%= recommendNum.no %></p>
                </div>
            </div>
        </div>
        <% } %>


            <!-- HighCharts --> 
            <div id="chart-container"></div>

            <br/>

            <div class="comments">
                <div class="user-input">
                    <form class="form card" method="POST" action="/comment/submit/<%= courseInfo[0].field_acronym %>/<%= courseInfo[0].course_acronym %>/<%= courseInfo[0].id %>/<%= currentSecNum[0].currentSecNum %>/<%= pageNum[0].pageNum %>">
                        <div class="row click-submit">
                            <fieldset class="form-group anonymous-submit col-xs-2">
                                <legend>Anonymous?</legend>
                                <div class="form-check col">
                                    <div class="">
                                        <input type="radio" class="form-check-input p-6 check" name="optionsRadios1" id="radio-option1" value="yes">
                                        <label class="form-check-label" for="radio-option1">Yes</label>
                                    </div>
                                </div>
                                <div class="form-check col">
                                    <div class="">
                                        <input type="radio" class="form-check-input p-6 check" name="optionsRadios1" id="radio-option2" value="no">
                                        <label class="form-check-label" for="radio-option2">No</label>
                                    </div>
                                </div>
                                <div class="form-check validation"></div>
                            </fieldset>

                            <fieldset class="form-group recommend-submit col-xs-2">
                                <legend>Recommend?</legend>
                                <div class="form-check col">
                                    <div class="">
                                        <input type="radio" class="form-check-input p-6 check" name="optionsRadios2" id="radio-option3" value="yes">
                                        <label class="form-check-label" for="radio-option3">Yes</label>
                                    </div>
                                </div>
                                <div class="form-check col">
                                    <div class="">
                                        <input type="radio" class="form-check-input p-6 check" name="optionsRadios2" id="radio-option4" value="no">
                                        <label class="form-check-label" for="radio-option4">No</label>
                                    </div>
                                </div>
                                <div class="form-check validation"></div>
                            </fieldset>

                            <% tmp = ["difficulty","organization","effort","professors"] %>
                            <% tmp1 = ["Difficulty","Organization","Effort Required","Professor(s)"] %>
                            <% for (var i=0; i < tmp.length; i++) { %>
                                <div class="<%= tmp1[i] %> col category-ratings">
                                    <p><%= tmp1[i] %></p>
                                    <div class="jRate check" id="jRate<%= i %>"></div>
                                    <input id="rating-result<%= i %>" class="rating-results" name="<%= tmp[i] %>" readonly>
                                    <div class="validation" id="validation<%= i %>"></div>
                                </div>
                            <% } %>
                        </div>

                        <div class="comment-submit">
                            <label class="form-label" for="inlineFormInput">Comment:</label>
                            <textarea type="text" rows="5" class="form-control justify-content-start check" id="inlineFormInput" placeholder="Write your comment here!" name="comment" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary check">Submit</button>
                    </form>

                    <br/>
                    <% if (courseComments) { %>
                        <% for (var i=0; i < courseComments.length; ++i) { %>
                            <div class="rated-ratings" id="comment<%= i %>">
                                <div class="card">
                                    <h3 class="card-header"><%= courseComments[i].username %></h3>
                                    <label for="rated-ratings"></label>
                                    <div class="card-block row" id="rated-ratings">
                                        <div class="col-xs-2 col-2 rated-ratings-ratings">
                                            <h3 class="card-header">Ratings</h3>
                                            <hr/>
                                            <div class="ratings-inside">
                                                <h4 class="ratings-inside-difficulty">Difficulty: <span><%= courseComments[i].difficulty %></span></h4>
                                                <h4 class="ratings-inside-organization">Organization: <span><%= courseComments[i].organization %></span></h4>
                                                <h4 class="ratings-inside-effort">Effort Required: <span><%= courseComments[i].effort %></span></h4>
                                                <h4 class="ratings-inside-professors">Professor(s): <span><%= courseComments[i].professors %></span></h4>
                                                <h4 class="ratings-inside-recommend">Recommend?: <span>
                                                  <% if (courseComments[i].recommend === "Yes") { %>
                                                    <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                                                  <% } else { %>
                                                    <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>
                                                  <% } %>
                                                  </span></h4>
                                            </div>
                                        </div>
                                        
                                        <label for="rated-comment"></label>
                                        <div class="col-xs-10 col-10 rated-ratings-comment">
                                            <h3 class="card-header">Comment</h3>
                                            <hr/>
                                            <div class="comment-inside">
                                                <pre><h4 class="card-text" id="rated-comment"><%= courseComments[i].comment %></h4></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        <% } %>
                    <% } %>
                </div>
                
            <br/>
                
                
            </div>
            

            <nav class="pagination-nav">
                
                <ul class="pagination justify-content-center">
                    <div id="pages-container">
                        <% startNextPageNum = currentSecNum[0].currentSecNum*5+1 %>
                        <% startPrevPageNum = ( currentSecNum[0].currentSecNum-2)*5+1 %>
                        <% if (currentSecNum[0].currentSecNum !== 1) { %>
                            <li class="page-item" style="display: inline-block;">
                                <a class="page-link" href="/catalog/<%= fieldAc[0].fieldAc %>/<%= courseAc[0].courseAc %>/<%= prevSecNum[0].prevSecNum %>/<%= startPrevPageNum %>" aria-label="Previous" dataset=<%- prevSecNum[0].prevSecNum %>>
                                    <span aria-hidden="true">&#171;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        <% } %>
                        <% for (var i=(currentSecNum[0].currentSecNum-1)*5+1; i <= (currentSecNum[0].currentSecNum-1)*5+currentPageTotalNum[0].currentPageTotalNum; i++) { %>
                            <li class="page-item paginated-number"  style="display: inline-block;"><a class="page-link" href="/catalog/<%= fieldAc[0].fieldAc %>/<%= courseAc[0].courseAc %>/<%= currentSecNum[0].currentSecNum %>/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (currentSecNum[0].currentSecNum !== totalSecNum) { %> 
                            <li class="page-item" style="display: inline-block;">
                                <a class="page-link" href="/catalog/<%= fieldAc[0].fieldAc %>/<%= courseAc[0].courseAc %>/<%= nextSecNum[0].nextSecNum %>/<%= startNextPageNum %>" aria-label="Next" dataset=<%- nextSecNum[0].nextSecNum %>>
                                    <span aria-hidden="true">&#187;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        <% } %>
                    </div>
                </ul>
            </nav>
        </div>
        <hr/>

        
        <!-- Font Awesome -->
        <script src="https://use.fontawesome.com/b6a42b064c.js"></script>
        
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        
        <!-- Bootstrap 4 JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <!-- jRate -->
        <script src="/jRate/dist/jRate.min.js"></script>


        <!-- Semantic UI JavaScript -->
        <script src="/semantic/dist/semantic.min.js"></script> 

        <!-- HighCharts -->
        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <!-- jQuery Validate -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>


        <script>

            // Current Page Active Handler
            <% if (currentPageNum[0].currentPageNum !== undefined) { %>
                $('.paginated-number').each(function(index) {
                    if ("<%= currentPageNum[0].currentPageNum %>" === $(this).text()) {
                        $(this).addClass('active');
                    };
                });
            <% } %>

            // Form Validator
            $('form').validate({
              rules: {
                optionsRadios1: "required",
                optionsRadios2: "required",
                difficulty: "required",
                organization: "required",
                effort: "required",
                professors: "required"
              },
              messages: {
                optionsRadios1: "Please choose one of the options",
                optionsRadios2: "Please choose one of the options",
                difficulty: "Please rate this category",
                organization: "Please rate this category",
                effort: "Please rate this category",
                professors: "Please rate this category"
              },
              errorPlacement: function(error, element) {
                
                var placement = $(element).data('error');

                if (placement) {
                  $(placement).parent().append(error);
                } else {
                  if (element.hasClass('form-check-input')) {
                      element.parent().parent().parent().children().last().append(error);
                  } else {
                      element.next().append(error);
                  };
                };
              }
            });

            $(document).ready(function() {
              score = parseFloat($('.overall-and-recommend .overall .overall-rating').text());
              if (0 <= score && score < 2) {
                $('.overall-and-recommend .overall .overall-rating').addClass('text-danger');
              } else if (2 <= score && score < 3) {
                $('.overall-and-recommend .overall .overall-rating').addClass('text-warning');
              } else if (3 <= score && score < 4) {
                $('.overall-and-recommend .overall .overall-rating').addClass('text-info');
              } else if (4 <= score && score <= 5) {
                $('.overall-and-recommend .overall .overall-rating').addClass('text-success');
              };


              $('#rated-ratings h4 span').each(function(index) {
                score = parseFloat($(this).text());
                if (0 <= score && score < 2) {
                  $(this).addClass('text-danger');
                } else if (2 <= score && score < 3) {
                  $(this).addClass('text-warning');
                } else if (3 <= score && score < 4) {
                  $(this).addClass('text-info');
                } else if (4 <= score && score <= 5) {
                  $(this).addClass('text-success');
                }
              });
            })
            
            // Radio Buttons Click Event Handlers
            $('.anonymous-submit input[type=radio]').click(function() {
              $('.anonymous-submit').css({
                'border-color': 'white',
                'transition': 'border-color .4s ease'
              });
            });

            $('.recommend-submit input[type=radio]').click(function() {
              $('.recommend-submit').css({
                'border-color': 'white',
                'transition': 'border-color .4s ease'
              });
            })

            // Login Check Before Input Event Handler
            $(document).ready(function() {
                $('.check').on('click',function(e) {
                    $.ajax({
                        url: '/checkLogin',
                        success: function(isLoggedIn) {
                            if (!isLoggedIn) {
                                $('input').val("");
                                $('.form-check-input').prop('checked',false);
                                alert('You must login to evaluate this course');
                                window.location.href = '/login';
                            };
                        }
                    });
                });
            });

            // jRate Constructors
            $('#jRate0').jRate({
                width: 30,
                height: 30,
                count: 5,
                startColor: 'rgba(153,0,0,1)',
                endColor: 'rgba(153,0,0,1)',
                onSet: function(rating) {
                    $('#validation0').html("");
                    $('#rating-result0').val(rating);
                }
            });

            $('#jRate1').jRate({
                width: 30,
                height: 30,
                count: 5,
                startColor: 'rgba(153,0,0,1)',
                endColor: 'rgba(153,0,0,1)',
                onSet: function(rating) {
                    $('#validation1').html("");
                    $('#rating-result1').val(rating);
                }
            });

            $('#jRate2').jRate({
                width: 30,
                height: 30,
                count: 5,
                startColor: 'rgba(153,0,0,1)',
                endColor: 'rgba(153,0,0,1)',
                onSet: function(rating) {
                    $('#validation2').html("");
                    $('#rating-result2').val(rating);
                }
            });

            $('#jRate3').jRate({
                width: 30,
                height: 30,
                count: 5,
                startColor: 'rgba(153,0,0,1)',
                endColor: 'rgba(153,0,0,1)',
                onSet: function(rating) {
                    $('#validation3').html("");
                    $('#rating-result3').val(rating);
                }
            });


            // HighCharts
            $(function() {
                <% if (!courseRating) { %>
                    $('#chart-container').append('<p style="text-align:center;margin-top: 150px;margin-bottom:150px;color:white;">NO DATA. PLEASE EVALUATE THIS COURSE IF YOU HAVE TAKEN IT.</p>');
                <% } else { %>
                    <% var tmp = []; %>
                    <% for (var i=0;i < Object.keys(courseRating).length-3; ++i) { %>
                        <% tmp.push(courseRating[Object.keys(courseRating)[i]]) %>
                    <% } %>

                Highcharts.createElement('link', {
                   href: 'https://fonts.googleapis.com/css?family=Unica+One',
                   rel: 'stylesheet',
                   type: 'text/css'
                }, null, document.getElementsByTagName('head')[0]);

                Highcharts.theme = {
                   colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee','#990000'],
                   chart: {
                      backgroundColor: {
                         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                         stops: [
                            [0, '#2a2a2b'],
                            [1, '#3e3e40']
                         ]
                      },
                      style: {
                         fontFamily: '\'Unica One\', sans-serif'
                      },
                      plotBorderColor: '#606063'
                   },
                   title: {
                      style: {
                         color: '#E0E0E3',
                         textTransform: 'uppercase',
                         fontSize: '30px'
                      }
                   },
                   subtitle: {
                      style: {
                         color: '#E0E0E3',
                         textTransform: 'uppercase'
                      }
                   },
                   xAxis: {
                      gridLineColor: '#707073',
                      labels: {
                         style: {
                            color: '#E0E0E3',
                            fontSize: '18px'
                         }
                      },
                      lineColor: '#707073',
                      minorGridLineColor: '#505053',
                      tickColor: '#707073',
                      title: {
                         style: {
                            color: '#A0A0A3'

                         }
                      }
                   },
                   yAxis: {
                      gridLineColor: '#707073',
                      labels: {
                         style: {
                            color: '#E0E0E3'

                         }
                      },
                      lineColor: '#707073',
                      minorGridLineColor: '#505053',
                      tickColor: '#707073',
                      tickWidth: 1,
                      title: {
                         style: {
                            color: '#A0A0A3',
                            fontSize: '18px'
                         }
                      },
                      max: 5
                   },
                   tooltip: {
                      useHTML: true,
                      backgroundColor: 'rgba(0, 0, 0, 0.85)',
                      style: {
                         color: '#F0F0F0'
                      },
                      formatter: function() {
                        return `<p style="width: 200px !important;font-size: 20px;text-align:center">${this.x}: ${this.y}</p>`;
                      }
                   },
                   plotOptions: {

                        
                      series: {
                         dataLabels: {
                            color: '#B0B0B3'
                         },
                         marker: {
                            lineColor: '#333'
                         }
                      },
                      boxplot: {
                         // fillColor: '#505053'
                         fillColor: '#990000'
                      },
                      candlestick: {
                         lineColor: 'white'
                      },
                      errorbar: {
                         color: 'white'
                      }
                   },
                   legend: {
                      itemStyle: {
                         color: '#E0E0E3'
                      },
                      itemHoverStyle: {
                         color: '#FFF'
                      },
                      itemHiddenStyle: {
                         color: '#606063'
                      }
                   },
                   credits: {
                      style: {
                         color: '#666'
                      }
                   },
                   labels: {
                      style: {
                         color: '#707073'
                      }
                   },

                   drilldown: {
                      activeAxisLabelStyle: {
                         color: '#F0F0F3'
                      },
                      activeDataLabelStyle: {
                         color: '#F0F0F3'
                      }
                   },

                   navigation: {
                      buttonOptions: {
                         symbolStroke: '#DDDDDD',
                         theme: {
                            fill: '#505053'
                         }
                      }
                   },

                   // scroll charts
                   rangeSelector: {
                      buttonTheme: {
                         fill: '#505053',
                         stroke: '#000000',
                         style: {
                            color: '#CCC'
                         },
                         states: {
                            hover: {
                               fill: '#707073',
                               stroke: '#000000',
                               style: {
                                  color: 'white'
                               }
                            },
                            select: {
                               fill: '#000003',
                               stroke: '#000000',
                               style: {
                                  color: 'white'
                               }
                            }
                         }
                      },
                      inputBoxBorderColor: '#505053',
                      inputStyle: {
                         backgroundColor: '#333',
                         color: 'silver'
                      },
                      labelStyle: {
                         color: 'silver'
                      }
                   },

                   navigator: {
                      handles: {
                         backgroundColor: '#666',
                         borderColor: '#AAA'
                      },
                      outlineColor: '#CCC',
                      maskFill: 'rgba(255,255,255,0.1)',
                      series: {
                         color: '#7798BF',
                         lineColor: '#A6C7ED'
                      },
                      xAxis: {
                         gridLineColor: '#505053'
                      }
                   },

                   scrollbar: {
                      barBackgroundColor: '#808083',
                      barBorderColor: '#808083',
                      buttonArrowColor: '#CCC',
                      buttonBackgroundColor: '#606063',
                      buttonBorderColor: '#606063',
                      rifleColor: '#FFF',
                      trackBackgroundColor: '#404043',
                      trackBorderColor: '#404043'
                   },

                   // special colors for some of the
                   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
                   background2: '#505053',
                   dataLabelsColor: '#B0B0B3',
                   textColor: '#C0C0C0',
                   contrastTextColor: '#F0F0F3',
                   maskColor: 'rgba(255,255,255,0.3)'
                };

                // Apply the theme
                Highcharts.setOptions(Highcharts.theme);


                // HighCharts Constructor
                var chart = Highcharts.chart('chart-container',{
                    credits: {
                        enabled: false
                    },
                    chart: {
                        type: 'column'
                    },
                    colors: ['#990000'],
                    title: {
                        text: 'Course Ratings'
                    },
                    xAxis: {
                        categories: ["Difficulty","Organization","Effort Required","Professor Rating"],
                        fontSize: '20px'
                    },
                    yAxis: {
                        title: {
                            text: 'Avg Ratings'
                        }
                    },
                    series: [{

                        showInLegend: false,
                        data: <%- JSON.stringify(tmp) %>
                    }]
                })
                <% } %>
            })
            

        </script>
    </body>

</html>