<!DOCTYPE html>
<html>
    <head>
        <meta charset="'utf-8">
        <meta name="'viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>WesCourse</title>

        <script src="https://use.fontawesome.com/b6a42b064c.js"></script>
        

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container" style="width: 100%;">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card bg-danger">
                    <div class="card-header bg-danger" role="tab" id="headingOne">
                        <h5 class="mb-0">

                            <div class="row-fluid" data-toggle="collapse" data-target="#collapseOne">

                                <a href="" class="span1" style="color:white;"><strong>FALL</strong></a>
                            </div>
                        </h5>
                    </div>
                
                    <div id="collapseOne" class="row-fluid collapse in">
                        <div class="span9">
                            <% for (var i=0;i < fallCourses.length; ++i) { %>
                                <h6 style="float: right;"><strong>Class Time: <%= fallCourses[i].class_date %></strong></h6>
                                <a href="/catalog/<%= fallCourses[i].field_acronym %>/<%= fallCourses[i].course_acronym %>/1/1" style="color:black;"><strong><u><%= fallCourses[i].course_acronym %></u></strong></a>
                                <h6 style="display:inline;"><strong><%= fallCourses[i].course_name %></strong></h6>
                                <h6><strong>Section: <%= fallCourses[i].section %></strong></h3>
                                <h6><strong>Professors: <%= fallCourses[i].professors %></strong></h3>
                                <hr/>
                            <% } %>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="card bg-danger">
                    <div class="card-header bg-danger" role="tab" id="headingTwo">
                        <h5 class="mb-0">

                            <div class="row-fluid" data-toggle="collapse" data-target="#collapseTwo">

                                <a href="#" class="span1" style="color:white;"><strong>SPRING</strong></a>
                            </div>
                        </h5>
                    </div>
                
                    <div id="collapseTwo" class="row-fluid collapse in">
                        <div class="span10">
                            <% for (var i=0;i < springCourses.length; ++i) { %>
                                <h6 style="float: right;"><strong>Class Time: <%= springCourses[i].class_date %></strong></h6>
                                <a href="#" style="color:black;"><strong><u><%= springCourses[i].course_acronym %></u></strong></a>
                                <h6 style="display:inline;"><strong><%= springCourses[i].course_name %></strong></h6>
                                <h6><strong>Section: <%= springCourses[i].section %></strong></h3>
                                <h6><strong>Professors: <%= springCourses[i].professors %></strong></h3>
                                <hr/>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>