<!DOCTYPE html>
<html>
    <head>
        <meta charset="'utf-8">
        <meta name="'viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>WesCourse</title>

        <script src="https://use.fontawesome.com/b6a42b064c.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <!--<script src="/public/jquery-3.2.1.min.js"></script>-->

        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        

        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

        <!-- Latest compiled and minified JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->








        


        

        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
        <link href="/public/kartik-v-bootstrap-star-rating-3642656/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />

        <link href="/public/kartik-v-bootstrap-star-rating-3642656/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

        

        <script src="/public/kartik-v-bootstrap-star-rating-3642656/js/star-rating.js" type="text/javascript"></script>

        <script src="/public/kartik-v-bootstrap-star-rating-3642656/themes/krajee-svg/theme.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>


        <!--Star-rating Links-->
        

        

        

        
    </head>

    <body>
        <div class="container" style="width: 100%;">
            <table>
                <tbody>
                    <tr>
                        <h6 style="float: right;">Class Time: <%= courseInfo[0].class_date %></h6>
                        <h2><%= courseInfo[0].course_acronym %></h2>
                        <h6><%= courseInfo[0].course_name %></h6>
                        <h6>Section: <%= courseInfo[0].section %></h6>
                        <h6>Professor(s): <%= courseInfo[0].professors %><h6>

                    </tr>
                </tbody>
            </table>

            <div class="chart-container" style="position:relative; margin:auto; height:60vh; width: 80%">
                <canvas id="myChart" width="100" height="100"></canvas>
            </div>

            
            <br/>

            <div class="comments">
                <div class="user-input">
                    <form class="form card" method="POST" action="/comment/submit/<%= courseInfo[0].field_acronym %>/<%= courseInfo[0].course_acronym %>/<%= courseInfo[0].id %>">
                        <div class="d-flex flex-row" style="display:inline;">
                            <fieldset class="form-group anonymous" style="margin-right:5%;">
                                <legend>Anonymous?</legend>
                                <div class="form-check" style="display: inline-block;">
                                    <div class="form-group">
                                        <label class="form-check-label" for="radio-option1">
                                        <input type="radio" class="form-check-input p-6" name="optionsRadios1" id="radio-option1" value="yes" required oninvalid="this.setCustomValidity('You must choose between these two options')" onclick="clearValidity1();">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="form-check" style="display:inline-block;">
                                    <div class="form-group">
                                        <label class="form-check-label" for="radio-option2">
                                        <input type="radio" class="form-check-input p-6" name="optionsRadios1" id="radio-option2" value="no" onclick="clearValidity1();">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <label for="difficulty" style="margin-right:3%;">
                                Difficulty
                                <input id="input-id-1" name="difficulty" type="text" class="rating p-2" style="display:inline-block;" data-size="xs" required>
                            </label>
                            
                            <label for="organization" style="margin-right:3%;">
                                Organization
                                <input id="input-id-2" name="organization" type="text" class="rating p-2" style="display:inline-block;" data-size="xs" required>
                            </label>

                            <label for="effort" style="margin-right:3%;">
                                Effort Required
                                <input id="input-id-3" name="effort" type="text" class="rating p-2" style="display:inline-block;" data-size="xs" required>
                            </label>

                            <label for="professors">
                                Professor(s)
                                <input id="input-id-4" name="professors" type="text" class="rating p-2" style="display:inline-block;" data-size="xs" required>
                            </label>

                            <fieldset class="form-group recommend">
                                <legend>Recommend?</legend>
                                <div class="form-check" style="display: inline-block;">
                                    <div class="form-group" >
                                        <label class="form-check-label" for="radio-option3">
                                        <input type="radio" class="form-check-input p-6" name="optionsRadios2" id="radio-option3" value="yes" required oninvalid="this.setCustomValidity('You must choose between these two options')" onclick="clearValidity2();">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="form-check" style="display:inline-block;">
                                    <div class="form-group">
                                        <label class="form-check-label" for="radio-option4">
                                        <input type="radio" class="form-check-input p-6" name="optionsRadios2" id="radio-option4" value="no" onclick="clearValidity2();">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            
                        </div>

                        
                        
                        <div>
                            <label class="form-label" for="inlineFormInput">Comment:</label>
                            <textarea type="text" rows="5" class="form-control justify-content-start" id="inlineFormInput" placeholder="Write your comment here!" name="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br/>
                    </form>

                    <br>
                    <% if (courseComments) { %>
                        <% for (var i=0; i < courseComments.length; ++i) { %>
                            <div class="rated-comment" id="comment<%= i %>">
                                <div class="card">
                                    <h3 class="card-header"><%= courseComments[i].username %></h3>
                                    <label>Ratings:
                                    <div class="card-block d-flex flex-row">
                                        <h4 class="card-title p-2">Difficulty: <%= courseComments[i].difficulty %></h4>
                                        <h4 class="card-title p-2">Organization: <%= courseComments[i].organization %></h4>
                                        <h4 class="card-title p-2">Effort Required: <%= courseComments[i].effort %></h4>
                                        <h4 class="card-title p-2">Professor(s): <%= courseComments[i].professors %></h4>
                                        <h4 class="card-title p-2">Recommend?: <%= courseComments[i].recommend %></h4>
                                    </div>
                                    </label>
                                    <!--<div>-->
                                        <label>Comment:</label>
                                        <p class="card-text"><%= courseComments[i].comment %></p>
                                    <!--</div>-->
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                
            <br>
                
                
            </div>
            


            

            
            
        </div>
        <hr/>

        

        <script>

            function clearValidity1(){
                console.log('here');
                document.getElementById('radio-option1').setCustomValidity('');
            };

            function clearValidity2(){
                document.getElementById('radio-option3').setCustomValidity('');
            };

            $(document).ready(function() {
                $('input, .rating-stars, textarea').on('click',function() {
                    console.log('here');
                    $.ajax({
                        url: '/checkLogin',
                        success: function(isLoggedIn) {
                            if (!isLoggedIn) {
                                alert('You must login to evaluate this course');
                                window.location.href = '/login';
                            }
                        }
                    })
                })
            })

            
            $('button[type="submit"]').on('click',function() {
                $('.rating-stars').each(function(index,elem) {
                    // console.log($(this).val());
                    if ($(this).val() === "") {
                        console.log('fdsfsdafasdfasd');
                        $(this).attr('required');
                        $(this).attr('oninvalid',"setCustomValidity('You must rate this category')");
                        return $(this).attr('oninput',"setCustomValidity('')");
                    }
                });
            })
                

            <% if (!courseRating) { %>
                $('.chart-container').append('<p style="text-align:center;">NO DATA. PLEASE EVALUATE THIS COURSE IF YOU HAVE TAKEN IT.</p>');
            <% } else { %>
                <% var tmp = []; %>
                <% for (var i=0;i < Object.keys(courseRating).length-2; ++i) { %>
                    <% tmp.push(courseRating[Object.keys(courseRating)[i]]) %>
                <% } %>
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Difficulty","Organization","Effort Required","Professor Rating"],
                        datasets: [{
                            label: 'Average Ratings',
                            data: <%- JSON.stringify(tmp) %>,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                barThickness: 120
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    max : 5.0
                                }
                            }]
                        }
                    }
                });
            <% } %>


            for (var i=1; i < 5; ++i) {
                $(`#input-id-${i}`).rating({
                    step: .5,
                    starCaptions: {.5: "0.5", 1: "1.0", 1.5: "1.5", 2.0: "2.0", 2.5: "2.5", 3.0: "3.0", 3.5: "3.5", 4.0: "4.0", 4.5: "4.5", 5.0: "5.0"}
                })
            }
            






        </script>
    </body>

</html>